@use './vars';


.aboutText{
    
    padding: 0.3rem;
    max-width: 40rem;
    margin-inline: 0.2rem;
    font-family: vars.$font-article;
    font-size: 1.4rem;
    font-weight: lighter;
    }

    .aboutText > h1{
    text-align: center;
    font-size: 3rem;
    }

    .ornament{
    width: 90%;
    height: auto;
    }