@use './vars';


.aboutText{
    
    padding: 1rem;
    max-width: 40rem;
    margin-inline: 0.4rem;
    font-family: vars.$font-article;
    font-size: 1.4rem;
    font-weight: lighter;
    }

    .aboutText > h1{
    text-align: center;
    }

    