@use './vars';

.header{
    grid-column: 1 / -1;
    height: 250px;
    width: 95vw;
    border-bottom: solid 3px white;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
   }
   
   .siteTitle{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   .siteName{
   margin-bottom: -20px;
   font-size: 3rem;

   }
   
   .siteSubTitle{
   font-size: 1rem;
   }
   
   .aboutLogo{
    width: 7rem;
   }
  

    @media(min-width: 23rem){
     .siteName{
        font-size: 3.5rem;
     }
    }

   @media(min-width: 56rem){
     
    // .siteName{
    //     font-size: 4rem;
    //  }
      .siteSubTitle{
        font-size: 1.3rem;
      }
      
      .header{
      flex-direction: row;
      justify-content: space-between;
      }

      .aboutLogo{
        width: 12rem;
       }
   }

   @media (min-width: 70rem){
    .header{
        min-width: 70rem;
        max-width: 80vw;
      }
      
   }