@use './vars';

.shareContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.shareButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 9.5rem;
    padding-inline: 1rem;
    border:1px solid white;
    background-color: rgb(17 24 39);
    border-radius: 0.5rem;

  
    }

    .shareButton{   
        color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        }

   .shareButton:hover{
       color:red;
   }
       
.shareIcon{
    width: 5rem;
    height: auto;
    cursor: pointer;
}

.svgPath{
    fill:#333;
}

.shareIcon:hover{
    .svgPath{
        fill: red;
    }
}

.cancelShare{
    width: 5rem;
    height: auto;
}